body {
  background: conic-gradient(
    from -90deg at bottom center,
    papayawhip,
    peachpuff
  );
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
}

select {
  padding: 1rem 2rem;
  background: white;
}

.app {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 4rem;
}

.dayWeatherCard {
  text-align: center;
  padding: 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
